<div class="copyrights">
    <div class="container">
        <div class="footer-distributed">
            <div class="footer-left">
                <p class="footer-links">
                    <a href="/Default/Index">Anasayfa</a>
                    <a href="/Default/AboutPartial/Index">Hakkımda</a>
                    <a href="#services">Hizmetlerim</a>
                    <a href="/Default/ProjectPartial/Index">Projelerim</a>
                    <a href="/Default/TestimonialPartial/Index">Referanslarım</a>
                    <a href="/Default/ContactPartial/Index">İletişim</a>
                </p>
                <p class="footer-company-name">
                    Kişisel verilerimiz her daim saklanmaktadır. &copy; 2025 <a href="#">Koray Yüksel</a> Design By :
                    <a href="https://html.design/">html design</a>
                </p>
            </div>
        </div>
    </div><!-- end container -->
</div>

