@model AcunMedyaPortfolio1.Models.TblCategory
@{
    ViewBag.Title = "UpdateCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Category Güncelleme Sayfası</h2>

<form method="post">
    <!--input kullnarak name + valeus ile yapıcaz-->
    <label>Category Id</label>
    <input type="text" class="table table-bordered" value="@Model.Categoryid" name="Categoryid" readonly />
    <br />
    <label>Category İsmi</label>
    <input type="text" class="table table-bordered" value="@Model.CategoryName" name="CategoryName" />
    <br />  
    <button class="btn btn-success">Category Güncelleme</button>
</form>

